#waveform {
    font-family: 'Inter', sans-serif;


    /* var for handle width */
    --handle-width: 2rem;
}

#waveform ::part(cursor) {
    opacity: 0.8;

}




#waveform ::part(marker) {
    /* abbreviate text */
    font-size: 0.85rem;
    /* make text bold */
    font-weight: 500;
    /* ensure text is centered */
    text-align: left;
    /* ensure text is white */
    color: #ccc;
    padding: 0;
    margin: 0;
}

#waveform ::part(region-content) {
    margin-top: 1rem;

    text-decoration: none;
    text-overflow: ellipsis;
}

#waveform ::part(region-handle-right) {
    width: var(--handle-width);
    background-color: transparent;
    filter: invert(1);
    /* gradient from transparent to white */
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1));
    border: none;
}

#waveform ::part(region-handle-left) {
    width: var(--handle-width);
    /* invert */
    filter: invert(1);
    background-color: transparent;
    /* gradient from white to transparent */
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.1));
    border: none;
}

#waveform ::part(region) {}


#waveform ::part(marker-text) {}